.block_ {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_2 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    color: #980000;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 21.6pt
    }
.block_4 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    color: #980000;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 1pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 21.6pt
    }
.block_5 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 21.6pt
    }
.block_6 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 21.6pt
    }
.block_7 {
    color: #2f5496;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_8 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    display: block;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_10 {
    display: block;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_11 {
    background-color: yellow;
    color: #f00;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_12 {
    color: #2f5496;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_13 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_14 {
    color: #f00;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_15 {
    background-color: yellow;
    color: #f00;
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_16 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_17 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 21.6pt
    }
.block_18 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_19 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.block_20 {
    background-color: transparent;
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.block_21 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 21.6pt
    }
.block_22 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_23 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 21.6pt
    }
.block_24 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_25 {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_26 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_27 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #000;
    display: table-row;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_28 {
    background-color: transparent;
    color: #000;
    display: table-row;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_29 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-style: none;
    border-top-width: 1pt;
    color: #000;
    display: table-row;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_30 {
    background-color: transparent;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_31 {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_32 {
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #000;
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_33 {
    background-color: transparent;
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_34 {
    color: #2f5496;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_35 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_36 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.bullet_ {
    display: table-cell;
    font-weight: bold
    }
.calibre {
    display: block;
    font-family: "FreeSans", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: 38.6pt;
    width: 59.6pt
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: 47.4pt;
    width: 44pt
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 39.6pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre8 {
    display: table-cell
    }
.calibre9 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre10 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre11 {
    display: block;
    margin-left: 40px
    }
.calibre12 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre13 {
    height: auto;
    width: auto
    }
.footnote {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.footnote1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid
    }
.text_ {
    color: #0563c1;
    text-decoration: underline solid
    }
.text_1 {
    background-color: transparent;
    color: #000
    }
.text_2 {
    background-color: transparent
    }
.text_3 {
    background-color: transparent;
    color: #0563c1;
    text-decoration: underline solid
    }
.text_4 {
    font-family: "Calibri", serif;
    font-size: 1.5em;
    line-height: 1.2
    }
.text_5 {
    font-family: "Calibri", serif;
    font-size: 1em
    }
.text_6 {
    font-family: "Padauk", serif;
    font-size: 1em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Padauk";
    src: url(OEBPS/fonts/Padauk_-_Regular.ttf);
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "FreeSans";
    src: url(OEBPS/fonts/FreeSans.ttf)
    }
@font-face {
    font-family: "FreeSans";
    src: url(OEBPS/fonts/FreeSans-Bold.ttf);
    font-weight: 600
    }

