@font-face {
  font-family: "MyanmarReader";
  src: url("fonts/subset-Pyidaungsu.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "MyanmarReader", sans-serif;
  background: #ffffff;
  color: #111;
}

.reader {
  max-width: 720px;
  margin: auto;
  padding: 16px;
  font-size: 18px;
  line-height: 1.8;
}
